.MoviesContainer{
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 2vh 2vw;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    justify-content: space-around;
    transition-duration: .7s;
}

.MoviesContainer.dark{
    color: #F8F9FA;
}

.MoviesContainer.light{
    background: #F8F9FA;
    color: #3f3f3f;
}
.MoviesUnit {
    width: 15vw;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 2vh 2.5vw;
    margin: 1.5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16pt;
    transition-duration: .7s;
    cursor: pointer;
}

.MoviesUnit>div{
}

.MoviesUnit>img{
    width: 15vw;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 2vh;

}
.MoviesUnit:hover{
    background: #9f0000;
    color: #F8F9FA;
    transform: translateY(-1vh);
}