.SortByPanel{
    width: 85vw;
    margin: 1vh auto;
    border-radius: 10px;
    border: 3px solid #9f0000;
    padding: 2vh 2vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 16pt;
    justify-content: space-around;
    transition-duration: .7s;
}
.SortByPanel.light{
    background: #F8F9FA;
    color: #3f3f3f;
}
.SortByPanel.dark{
    color: #F8F9FA;
}

.SortByPanel>div{
    display: flex;
    flex-wrap: wrap;
}

.SortByPanel>div>div{
    padding: 1vw 2vw;
    border: 2px solid #9f0000;
    margin: 0 .1vw;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    transition-duration: .7s;
    cursor: pointer;
}
.SortByPanel>div>div:hover{
    transform: translateY(-1vh);
}

.SortByPanel>div>div.active{
    background: #9f0000;
    color: #F8F9FA;
}
.SortByPanel>div>div>div{
    transition-property: transform;
    transition-duration: .7s;
    font-size: 18pt;
}
.flip{
transform: rotate(180deg);
}