.Header{
    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin: 2vh auto 0;
    align-items: center;
    padding: 1vh 2vw;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition-duration: .7s;
}

.Header.light{
    background: #F8F9FA;
}
h1{
    cursor: default;
}
h1.dark{
    color: #F8F9FA;
}
h1.light{
    color: #3f3f3f;
}


.Header>div{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
}
a{
    font-size: 18pt;
    padding: 3vh 1vw;
    border-radius: 10px;
    transition-duration: .7s;
}
a.light{
    color: #3f3f3f;
}
a.dark{
    color: #F8F9FA;
}
a:hover,a.active:hover{
    background: #9f0000;
    color: #F8F9FA;
}
a.active{
    background: rgba(159, 0, 0, 0.5);
    color: #F8F9FA;
}
