.MovieRating {
    position: relative;
    font-size: 3vw;
    width: fit-content;
    color: transparent;
    -webkit-background-clip: text!important;

}
.RatingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-indent: 0;
}